.item {
  padding: 5px 10px;
  border: 1px solid #ffffff;
  margin-bottom: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;
  
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.3);
  }
}

.item.success {
  background: green;
}

.item.error {
  background: red;
}