.menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: honeydew;
  height: 100%;
  width: 300px;
  transform: translateX(-300px);
  transition: transform .5s;
  z-index: 10;
}
.open {
  transform: translateX(0);

  .trigger {
    left: 320px;
  }
}

.trigger {
  position: fixed;
  left: 320px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}