.finished {
  padding: 20px;
  border: 2px solid #ffffff;
  width: 40%;
  border-radius: 10px;
  margin: 10px 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-bottom: 10px;
}

.right,
.false {
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-left: 5px;
}

.error {
  color: red;
  margin-left: 5px;
}

p {
  margin: 0 0 10px;
}